.typebox {
  font-family: "Roboto Slab";
  margin: 40px 0;
  outline: none;
  box-shadow: none;
  padding: 30px;
}

.character {
  display: inline-block;
  padding: 5px 3px;
  font-size: 40px;
  border-bottom: 1px solid transparent;
  height: 50px;
  vertical-align: top;
  font-weight: 100;

  // color: rgba(255, 255, 255, 0.9);
  color: #666;

  font-weight: 100;
  // text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.space {
  width: 10px;
}

.space.cursor {
  border-bottom: 1px solid #999;
}

.space.incorrect,
.space.cursor.incorrect {
  border-bottom: 1px solid red;
}

.cursor {
  border-bottom: 1px solid #999;
}

.incorrect {
  border-bottom: 1px solid red;
  // color: rgba(255, 0, 0, 0.5);
}

.cursor.incorrect {
  color: red;
}

.correct {
  color: #ccc;
}

.ngram {
  color: orange;

  // font-weight: 200;
  // text-shadow: 1px 1px 0px #bbb;
}
