.typebox {
  font-family: "Roboto Slab";
  margin: 40px 0;
  outline: none;
  box-shadow: none;
}

.character {
  display: inline-block;
  padding: 0px 2px;
  font-size: 36px;
  font-weight: 100;
  border-bottom: 1px solid transparent;
  height: 50px;
  vertical-align: top;
}

.space {
  width: 15px;
}

.space.cursor {
  border-bottom: 1px solid #999;
}

.space.incorrect,
.space.cursor.incorrect {
  border-bottom: 1px solid red;
}

.cursor {
  border-bottom: 1px solid #999;
}

.incorrect {
  border-bottom: 1px solid red;
  // color: rgba(255, 0, 0, 0.5);
}

.cursor.incorrect {
  color: red;
}

.correct {
  color: #ccc;
}

.ngram {
  color: orange;
}
