.level {
  font-family: "Roboto Slab";
  font-size: 30px;
  font-weight: 100;
  position: absolute;
  padding: 5px 10px;
  background: #ccc;
  color: #777;
  left: 30px;
  bottom: 30px;
}

.typebox {
  text-align: center;
}

.wpm {
  font-family: "Roboto Slab";
  font-size: 100px;
  font-weight: 100;
  color: #555;
  margin-top: 50px;
  height: 130px;
  text-align: center;
}

.level_item {
  font-family: "Roboto Slab";
  padding: 3px 25px;
  margin: 20px;
  background: #555;

  display: inline-block;
  font-size: 38px;
  font-weight: 100;
  .ngram {
    color: #999;
  }
}
