// $progress: rgb(104, 184, 255);
// $progress: rgb(197, 197, 197);
// $progress: rgb(252, 178, 66);
// $progress: rgb(74, 173, 219);
$progress: rgb(196, 196, 196);
$complete: rgb(76, 175, 97);

.level {
  font-family: "Roboto Slab";
  font-size: 40px;
  font-weight: 100;
  position: absolute;
  padding: 5px 10px;
  // background: #ccc;
  color: #777;
  right: 10px;
  top: 10px;
}

.typebox {
  text-align: center;
}

.wpm {
  font-family: "Roboto Slab";
  font-size: 100px;
  font-weight: 100;
  color: #555;
  margin-top: 50px;
  height: 130px;
  text-align: center;
}

.progress {
  margin: auto 0;
  padding: 20px;
  bottom: 0;
  position: absolute;
}

.current_grams {
  text-align: center;
}
