.App {
  text-align: center;
}

.wpm {
  font-family: "Roboto Slab";
  font-size: 100px;
  font-weight: 100;
  color: #555;
  margin-top: 50px;
  height: 130px;
}

.lessongram {
  color: orange;
  font-weight: 200;
  display: inline-block;
  font-size: 22px;
  padding: 10px;
  font-family: "Roboto Slab";
}
